.button {
  width: 328px;
  min-height: 98px;
  border: none;
  background: linear-gradient(180deg, #ff7dc3 0%, #d52a86 100%);
  border-radius: 60px;
  box-shadow: 0 6px 0 #961259;
  color: white;
  font-size: 25px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background: #d52a86;
  }

  &:active {
    position: relative;
    top: 6px;
    box-shadow: none;
  }

  @media (max-width: 575px) {
    font-size: 21px;
  }

  &_line-form {
    width: 23%;

    @media (max-width: 1500px) {
      width: 25%;
    }

    @media (max-width: 1200px) {
      @include max-width(500px);

      margin-bottom: 20px;
    }
  }

  &_modal-form {
    @include max-width(448px);
  }

  &_steps {
    display: block;
    margin-right: auto;
    margin-left: auto;

    @include max-width(448px);
  }
}
