.modal-form {
  box-shadow: 0px 6px 20px rgba(222, 210, 85, 0.1);
  border-radius: 30px;
  background: #ffffff;
  border: 2px solid #ded255;
  padding-top: 40px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
  @include max-width(687px);
  position: relative;

  @media (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &_feedback {
    margin-left: auto;
    @media (max-width: 991px) {
      margin-right: auto;
    }
    &::before {
      content: url('/src/img/book.png');
      position: absolute;
      left: -878px;
      top: 120px;

      @media (max-width: 991px) {
        content: none;
      }
    }
  }
}

.modal-form__title {
  margin-bottom: 39px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #4e4d4d;

  @media (max-width: 575px) {
    font-size: 22px;
    line-height: 29px;
  }
}

.modal-form__input-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
}

.modal-form__input-box {
  @include max-width(448px);
  margin-bottom: 20px;

  &:nth-child(3) {
    margin-bottom: 32px;
  }
}

.modal-form__input-label {
  @include main;
  color: #4e4d4d;
  margin-bottom: 5px;
  position: relative;
  left: 5px;
}

.modal-form__input {
  opacity: 0.5;
  border: 1px solid #4e4d4d;
  padding-left: 32px;
  padding-right: 15px;
  border: 1px solid #4e4d4d;
  border-radius: 60px;
  background: #ffffff;
  height: 80px;
  width: 100%;
  font-size: 22px;

  &:focus,
  &:hover {
    opacity: 1;
  }
}

.modal-form__policy-text {
  color: #c6c6c6;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  @include max-width(484px);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  button {
    @include reset-btn;
    color: #c6c6c6;
    text-decoration: underline;
  }
}
